{% extends "GoVoyageBundle::layout_template.html.twig" %}
{% block content %}

    <div class="main-cont">
        <div class="body-wrapper">
            <div class="wrapper-padding">
                <div class="page-head">
                    <div class="page-title">Nos Chambre :</div>

                    <div class="clear"></div>
                </div>
                <div class="two-colls">
                    <div class="two-colls-left">

                        <div class="srch-results-lbl fly-in">
                            <span>Chercher une chambre.</span>
                        </div>

                        <div class="side-block fly-in">
                            <div class="side-block-search">
                                <div class="page-search-p" align="center">
                                    <!-- // -->
                                    <div class="srch-tab-line">
                                        <div class="" align="center">
                                            <label>numero chambre </label>
                                            <div class="input-a"><input type="text" value=""></div>
                                        </div>

                                        <div class="clear"></div>
                                    </div>
                                    <!-- \\ -->
                                    <!-- // -->

                                    <!-- \\ -->

                                    <!-- \\ -->

                                    <button class="srch-btn">Chercher</button>
                                    <br>


                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="two-colls-right">
                        <div class="two-colls-right-b">
                            <div class="padding">

                                <!-- <div class="catalog-head fly-in">
                                     <label style="color: darkorange">Afficher les resultats de recherche triées par:</label>
                                     <label></label>
                                     <label></label>
                                     <label></label>
                                     <label></label>
                                     <div class="clear"></div>
                                 </div>-->


                                <div class="catalog-row">

                                    {% for chambre in chambre %}
                                        {% if  chambre.clientChFk == NULL %}
                                            <!--  -->
                                            <!-- // flight-item // -->
                                            <div class="flight-item fly-in">

                                                <div class="flt-i-a">
                                                    <div class="flt-i-b">
                                                        <div class="flt-i-bb">
                                                            <div class="flt-l-a">
                                                                <div class="flt-l-b">
                                                                    <div class="way-lbl">CHAMBRE :</div>
                                                                    <div class="company"><img alt=""
                                                                                              src="{{ asset('img/partner-01.png') }}">
                                                                    </div>
                                                                </div>
                                                                <div class="flt-l-c">
                                                                    <div class="flt-l-cb">
                                                                        <div class="flt-l-c-padding">
                                                                            <div class="flyght-info-head">{{ chambre.id }}</div>
                                                                            <!-- // -->
                                                                            <div class="flight-line">

                                                                                <div class="flight-line-a"
                                                                                     align="center">
                                                                                    <b>Type de chambre</b>
                                                                                    <span>{{ chambre.type }}</span>

                                                                                </div>





                                                                                <div class="clear"></div>
                                                                                <!-- // details // -->
                                                                                <div class="flight-details">
                                                                                    <div class="flight-details-l">

                                                                                    </div>

                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <!-- \\ details \\ -->
                                                                            </div>
                                                                            <!-- \\ -->
                                                                        </div>
                                                                    </div>
                                                                    <br class="clear"/>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                        <br class="clear"/>
                                                    </div>
                                                </div>
                                                <div class="flt-i-c">
                                                    <div class="flt-i-padding">
                                                        <div class="flt-i-price-i">
                                                            <div class="flt-i-price"> cliquez pour reserver</div>
                                                        </div>

                                                        <a type="submit"
                                                                href="{{ path('chambre_reserver',{'id':chambre.id}) }}"
                                                                class="cat-list-btn">reserver
                                                        </a>

                                                    </div>

                                                </div>

                                                <div class="clear"></div>
                                            </div>
                                            <!-- \\ flight-item \\ -->
                                        {% endif %}
                                    {% endfor %}

                                </div>

                                <div class="clear"></div>
                            </div>
                            <div class="navigation" align="center">

                            </div>
                        </div>
                        <br class="clear"/>
                    </div>
                    </form>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
{% endblock %}