{% extends 'GoVoyageBundle:chambre:layout_template_chambre.html.twig' %}

{% block content %}
    <form method="POST">
        <table>
            <tr>
                <td> type</td>
                <td><input type="text" name="type"></td>
            </tr>
            <tr>
                <td> prix</td> </br>
                <td><input type="text" name="prix"></td>
            </tr>

            <tr>
                <td><input type="submit" VALUE="submit"></td>
            </tr>
        </table>
    </form>
    {% endblock %}
