{% extends 'GoVoyageBundle:chambre:layout_template_chambre.html.twig' %}

{% block content %}
    <form method="POST">
        <table align="center">
            <tr>
                <td class="autorize-lbl"> type</td>
                <td class="input-a"><input type="text" name="type"></td>
            </tr>
            <tr>
                <td class="autorize-lbl"> prix</td> </br>

                    <td class="input-a"><input type="text" name="prix"></td>


            </tr>

            <tr>
                <td><input type="submit" VALUE="submit" class="authorize-btn"></td>
            </tr>
        </table>
    </form>
    {% endblock %}
