{% extends 'GoVoyageBundle:chambre:layout_template_chambre.html.twig' %}

{% block ahmed %}
    <h1>Chambre creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chambre_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
