go_voyage_chambre:
    resource: "@GoVoyageBundle/Resources/config/routing/chambre.yml"
    prefix:   /chambre
go_voyage_hotel:
    resource: "@GoVoyageBundle/Resources/config/routing/hotel.yml"
    prefix:   /hotel

go_voyage_users:
    resource: "@GoVoyageBundle/Resources/config/routing/users.yml"
    prefix:   /users

go_voyage_voyagepersonalise:
    resource: "@GoVoyageBundle/Resources/config/routing/voyagepersonalise.yml"
    prefix:   /voyagepersonalise

go_voyage_vol:
    resource: "@GoVoyageBundle/Resources/config/routing/vol.yml"
    prefix:   /vol

go_voyage_backend:
    resource: "@GoVoyageBundle/Resources/config/routing/backend.yml"
    prefix:   /back

go_voyage_guide:
    resource: "@GoVoyageBundle/Resources/config/routing/guide.yml"
    prefix:   /guide

go_voyage_homepage:
    path:     /
    defaults: { _controller: GoVoyageBundle:Default:index }
go_voyage_chambre1:
    path:     /ch
    defaults: { _controller: GoVoyageBundle:Default:ch }

go_voyage_affichevoitureforClient:
    path:     /listVoiture
    defaults: { _controller: GoVoyageBundle:Voiture:indexForClient }

go_voyage_ajoutvoiture:
    path:     /ajoutvoiture
    defaults: { _controller: GoVoyageBundle:Voiture:ajout }

go_voyage_suppvoiture:
    path:     /suppvoiture/{id}
    defaults: { _controller: GoVoyageBundle:Voiture:supp }

go_voyage_layout:
    path:     /indexvoiture
    defaults: { _controller: GoVoyageBundle:Voiture:ajout }

go_voyage_affichevoitureforAgence:
    path:     /listVoitureFA
    defaults: { _controller: GoVoyageBundle:Voiture:indexForAgence }

go_voyage_updatevoitureforAgence:
    path:     /updateVoitureFA2/{id}
    defaults: { _controller: GoVoyageBundle:Voiture:updateForAgence }


go_voyage_updatevoitureforAgence2:
    path:     /listVoitureFA1/{id}
    defaults: { _controller: GoVoyageBundle:Voiture:updateForAgence2 }

go_voyage_RentCarForClient:
    path:     /RentCar/{id}
    defaults: { _controller: GoVoyageBundle:Voiture:RentCarForClient }

go_voyage_searchCarForClient:
    path:     /search
    defaults: { _controller: GoVoyageBundle:Voiture:searchForClient }






ext:
    path:     /ext
    defaults: { _controller: GoVoyageBundle:Default:ext }
ghassen:
    path:     /ghassen
    defaults: { _controller: GoVoyageBundle:Default:ghassen }
admintempl:
    path:     /admin_template
    defaults: { _controller: GoVoyageBundle:Default:admintempl }
mgilet_notifications:
    resource: "@MgiletNotificationBundle/Controller/"
    prefix: /notifications
_graphePie:
    path:     /pie
    defaults: { _controller: GoVoyageBundle:Graphe:chartPie}
_grapheHistogramme:
    path:     /histogramme
    defaults: { _controller:GoVoyageBundle:Graphe:chartHistogramme}

