go_voyage_chambre:
    resource: "@GoVoyageBundle/Resources/config/routing/chambre.yml"
    prefix:   /chambre

go_voyage_vol:
    resource: "@GoVoyageBundle/Resources/config/routing/vol.yml"
    prefix:   /vol

go_voyage_homepage:
    path:     /
    defaults: { _controller: GoVoyageBundle:Default:index }
go_voyage_chambre1:
    path:     /ch
    defaults: { _controller: GoVoyageBundle:Default:ch }

ext:
    path:     /ext
    defaults: { _controller: GoVoyageBundle:Default:ext }
ghassen:
    path:     /ghassen
    defaults: { _controller: GoVoyageBundle:Default:ghassen }