go_voyage_chambre:
    resource: "@GoVoyageBundle/Resources/config/routing/chambre.yml"
    prefix:   /chambre

go_voyage_users:
    resource: "@GoVoyageBundle/Resources/config/routing/users.yml"
    prefix:   /users

go_voyage_voyagepersonalise:
    resource: "@GoVoyageBundle/Resources/config/routing/voyagepersonalise.yml"
    prefix:   /voyagepersonalise

go_voyage_vol:
    resource: "@GoVoyageBundle/Resources/config/routing/vol.yml"
    prefix:   /vol

go_voyage_guide:
    resource: "@GoVoyageBundle/Resources/config/routing/guide.yml"
    prefix:   /guide

go_voyage_homepage:
    path:     /
    defaults: { _controller: GoVoyageBundle:Default:index }
go_voyage_chambre1:
    path:     /ch
    defaults: { _controller: GoVoyageBundle:Default:ch }

go_voyage_affichevoiture:
    path:     /listVoiture
    defaults: { _controller: GoVoyageBundle:Voiture:list }

go_voyage_ajoutvoiture:
    path:     /ajoutvoiture
    defaults: { _controller: GoVoyageBundle:Voiture:ajout }

go_voyage_suppvoiture:
    path:     /suppvoiture/{id_voiture}
    defaults: { _controller: GoVoyageBundle:Voiture:supp }

go_voyage_layoutVOITURE:
    path:     /indexvoiture
    defaults: { _controller: GoVoyageBundle:Voiture:ajout }

ext:
    path:     /ext
    defaults: { _controller: GoVoyageBundle:Default:ext }
ghassen:
    path:     /ghassen
    defaults: { _controller: GoVoyageBundle:Default:ghassen }